<html>
    <body>
        <h2>Sistema hospitalar</h2>

        <h3>Pesquisa de Pacientes</h3>
        <form action="/historico" method="GET" >
            <label for="suscode">Código Sus:</label> <input type="text"
                                                     name="suscode" size="50"></input><br />
            <label for="cpf">CPF:</label> <input type="text"
                                                   name="cpf" size="15"></input><br />
            <br /> <input type="submit"></input>
        </form>
    </body>
</html>